# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.DS_Store

# Optional: VS Code settings
.vscode/

# Logs
logs/
*.log

# Dependency directories
PacEnd/node_modules/
PacmanFrontend/node_modules/